@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Oswald:wght@400;500;700&family=Roboto+Mono:wght@400;500;700&display=swap");

:root {
  --primaryFont: "Inter", sans-serif;
  --headingFont: "Oswald", sans-serif;
  --subheadingFont: "Roboto Mono", monospace;
  --primaryColor: #28364e;
  --secondaryColor: #e8e6e6;
  --bgColor: #f2f2f2;
  --text-color-light: #fffbfb;
  --text-color-dark: #0a0d14;
}

body {
  font-family: var(--primaryFont);
}

::-webkit-scrollbar {
  width: 10px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background: var(--bgColor);
}

::-webkit-scrollbar-thumb {
  background: var(--primaryColor);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--text-color-dark);
}

.heading {
  font-family: var(--headingFont);
  /* font-size: clamp(1rem, 2.6rem, 3.2rem); */
  font-size: 2.6rem;
  font-weight: bolder;
}

.subheading {
  font-family: var(--subheadingFont);
  /* font-size: clamp(1rem, 1.4rem, 1.8rem); */
  font-size: 1.4rem;
  font-weight: bolder;
}

.btn-primary {
  font-family: var(--subheadingFont);
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.3rem 1.5rem;
  border: 2px solid transparent;
  border-radius: 20px;
  --bs-btn-bg: var(--primaryColor);
  --bs-btn-color: var(--text-color-light);
  --bs-btn-border-color: var(--primaryColor);
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-color: var(--primaryColor);
  --bs-btn-hover-border-color: var(--primaryColor);
  --bs-btn-active-bg: transparent;
  --bs-btn-active-color: var(--text-color-dark);
  --bs-btn-active-border-color: var(--primaryColor);
}

.btn-secondary {
  font-family: var(--subheadingFont);
  font-size: 1rem;
  background-color: transparent;
  color: var(--primaryColor);
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.3rem 1.5rem;
  border: 2px solid var(--primaryColor);
  border-radius: 20px;
}

.card-bg-color {
  background: #7386a6;
}

@media (max-width: 575.98px) {
  body {
    font-size: 0.9rem;
  }
  .heading {
    font-size: 1.7rem;
  }
  .subheading {
    font-size: 1.2rem;
  }
  .btn-primary,
  .btn-secondary {
    font-size: 0.8rem;
  }
}
