.form-select:focus,
.form-control:focus {
  border-color: var(--primaryColor);
  border-width: 2px;
  box-shadow: none;
}

.forgot-link {
  text-decoration: none;
  color: var(--bs-secondary);
  transition: color 0.3s ease;
}

.forgot-link:hover {
  color: var(--primaryColor);
}